@mixin gridSystemRow {
  border: 1px solid rebeccapurple;
}

@mixin gridSystemCol {
  padding: 7px;
  background-color: rebeccapurple;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  text-align: center;
}

@mixin alignItem($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;

  @if $justifyContent == "none" {
    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
  } @else if $alignItems == "none" {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
  } @else if $justifyContent == "none" and $alignItems == "none" {
    display: flex;
    flex-direction: $direction;
  }
}

@mixin imageSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin fontStyle($fontSize, $fontWeight) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
}
