$mainColor: #fb510b;
$successColor: #4fd455;
$dangerColor: #e34444;
$warningColor: #ff8451;
$transparent: rgba(255, 255, 255, 0);
$whiteColor: #fff;
$blackColor: #000;
$darkGrayColor2: #363636;
$darkGrayColor: #c2c2c2;
$lightGrayColor: #d9d9d9;
